.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  font-family: "Inter", "Arial", "sans-serif";
  color: white;
  padding: 60px 80px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  max-width: 105px;
  max-height: 39px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
}
.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-icon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  transition: opacity 0.5s;
}

.footer__social-link:hover {
  opacity: 70%;
}
