

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header{
padding: 30px 80px 40px;
height: 800px;
box-sizing: border-box;
display: flex;
flex-direction: column;
background-image: url(../images/background_header.svg);
background-size: cover;
}

.nav{
  display: flex;
  justify-content: space-between;
  top: 30px;
}

.nav__logo{
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;

}

.nav__links{
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.header__image{
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}



.header__title{
  margin: 183px 0 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;


}
.header__span-accent{
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description{
  display: block;
  font-family: "Noto Serif", "Times New Roman" , serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  max-width: 683px;
}

.header__footer{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;

}
.header__paragraph{
  margin: 0;
}

.header__paragraph-address{
  display: block;
  align-self: flex-end;
}

.recipes{
  background-color: #0a2750;
  color: #ffff;
  background-image: url(../images/background_recipes.svg);

}

.recipes__title{
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-bottom: 24px;
  margin: 0 0 24px;
  padding-top: 100px;
  padding-left: 80px;


}

.recipes__subtile{
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-left: 80px;
  margin: 0 0 80px;
}

.recipes__videos{
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  padding-bottom: 215px;
}

.recipes__video-captions{
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption{
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

}
